.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
  border-bottom: 1px solid #333;
}

.navbar-logo a {
  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: gold;
}

.navbar-links .active a {
  color: gold;
  border-bottom: 2px solid gold;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #121212;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-links.active {
    max-height: 600px;
    padding-bottom: 15px;
  }

  .navbar-links li {
    margin: 15px 20px;
    border-top: 1px solid #222;
  }
}


/* Móvil abierto (visible) */
.navbar-links.active {
  max-height: 600px;
}

